.topbanner {
position:relative;
width:100%;
}

.topbannertextlongtext {
    background: #3C7C5C;
    color: #FFF;
    font: bold 24px/45px Helvetica, Sans-Serif;
    left: 0;
    letter-spacing: -1px;
    padding: 3px;
    top: 210px;
    width: 100%;
    max-width: 800px;
}

.jr_main_content {
    max-width: 800px;
    height: auto;
    margin: 0 auto;
}

div {
    padding: 0;
    margin: 0;
}
