div {
    padding: 0;
    margin: 0;
}

.jr_main_content {
    max-width: 800px;
    height: auto;
    margin: 0 auto;
}

.ColorTableFirstRow,
.ColorTableFirstRow td {
    background-color: #0b5394;
    border: 1px solid #fff;
    border-width: 0 1px 1px 0;
    color: #fff;
    font-family: Arial;
    font-size: 12pt;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
}

.ColorTableTD {
    cellpadding: 5px 20px 5px 20px;
    padding: 5px 20px;
}

.IEPDocuments {
    align-content: center;
    background: #eff9ff;
    border: 3px solid #fff;
    border-width: 0 1px 1px 0;
    color: #2c88cb;
    font-family: Verdana, Sans-serif;
    font-size: 10pt;
    margin: 0;
    padding: 0;
}

.IEPDocumentsFirstRow {
    background-color: #2c88cb;
    border: 3px solid #fff;
    border-width: 0 1px 1px 0;
    color: #000;
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}

.MainTD,
img {
    max-width: 700px;
}

.MainText {
    color: #000;
    font-family: Verdana, Sans-serif;
    font-size: 10pt;
    padding: 5px;
    text-align: justify;
}

.Maintable {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    width: 100%;
}

.MenuforIPT371A {
    aling: center;
    background: #a2d2f9;
    border-radius: 5px;
    box-shadow: 3px 0 5px #AFAFAF;
    font-family: Gill Sans, sans-serif;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-top: 5px;
    text-align: left;
    transition-duration: 1s;
    transition-property: background;
    transition-timing-function: linear;
}

.TableInfoText {
    color: #000;
    font-family: Verdana, Sans-serif;
    font-size: 10pt;
    line-height: 150%;
    padding: 5px 15px;
    text-align: justify;
}

.Textmenucpse {
    background: #0b5394;
    color: #FFF;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    padding: 3px;
    width: 100%;
}

.Topbannersectioncpse {
    vertical-align: top;
    background: #a2d2f9;
    border-radius: 5px;
    box-shadow: 3px 0 5px #AFAFAF;
    font-family: Gill Sans, sans-serif;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-top: 5px;
    text-align: left;
}

.MenuforIPT371A:hover {
    background: #f8f9f9;
}

.Topbannersectioncpsetext,
.MenuforIPT371Atext {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 12px;
}

.author {
    color: #100000;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 12px;
    text-align: center;
    text-shadow: #c3c3c3 1px 1px;
    text-transform: uppercase;
}

.author span {
    color: #100000;
    font-family: 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-weight: 400;
    letter-spacing: normal;
    text-transform: none;
}

.authortext {
    color: #100000;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 11px;
    letter-spacing: 3px;
    line-height: 12px;
    text-align: center;
    text-shadow: #c3c3c3 1px 1px;
    text-transform: uppercase;
}

.bbimg {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding-left: 10px;
}

.blueboxipt {
    background-color: #A2D2F9;
    border-radius: 5px;
}

.bluetable_Info {
    background-color: #eff9ff;
}

.button {
    -webkit-transition-duration: .4s;
    background-color: #006599;
    border: 0;
    border-radius: 5px;
    color: #FFF;
    font-size: 10pt;
    margin-left: 8px;
    margin-right: 8px;
    transition-duration: .4s;
}

.button:hover {
    background-color: #fff;
    color: #000;
}

.colortable {
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    border: 1px solid #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0;
    padding: 0;
    width: 70%;
}

.colortable table {
    border-collapse: collapse;
    border-spacing: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.colortable table tr:first-child td:first-child {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
}

.colortable table tr:first-child td:last-child {
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
}

.colortable td {
    background-color: #EEFAFF;
    border: 1px solid #fff;
    border-width: 0 1px 1px 0;
    color: #000;
    font-family: Arial;
    font-size: 10px;
    font-weight: 400;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

.colortable tr td:last-child {
    border-width: 0 0 1px;
}

.colortable tr:first-child td {
    background: 0;
    background-color: #53a2f0;
    border: 0 solid #fff;
    border-width: 0 0 1px 1px;
    color: #53a2f0;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#53a2f0", endColorstr="#53a2f0");
    font-family: Arial;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.colortable tr:first-child td:first-child {
    background-color: #53a2f0;
    border-width: 0 0 1px;
}

.colortable tr:first-child td:last-child {
    background-color: #53a2f0;
    border-width: 0 0 1px 1px;
}

.colortable tr:first-child:hover td {
    background: 0;
    background-color: #53a2f0;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#53a2f0", endColorstr="#53a2f0");
}

.colortable tr:last-child td {
    border-width: 0 1px 0 0;
}

.colortable tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
}

.colortable tr:last-child td:last-child {
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    border-width: 0;
}

.colortablefirstrow {
    background-color: #53a2f0;
    border: 1px solid #fff;
    border-width: 0 1px 1px 0;
    color: #000;
    font-family: Arial;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
}

.download {
    align-content: center;
    background: #0087cc;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 2px 0 #006599;
    color: #fff;
    cursor: pointer;
    font: Gill Sans, sans-serif;
    margin: 0;
    outline: 0;
    padding: 2px 13px;
    transition: all .1s linear;
}

.download:active {
    box-shadow: 0 2px 0 #006599;
    transform: translateY(3px);
}

.element {
    float: left;
    padding-bottom: 5px;
    padding-right: 4px;
    shape-image-threshold: 0.5;
    shape-outside: circle(50%at52.1%51.85%);
}

.ipt371ao {
    display: flex;
}

.ipt371content {
    display: flex;
    justify-content: space-between;
    max-height: 900px;
    width: 100%;
}

.ipt371main {
    height: auto;
    max-width: 900px;
}

.ipt371videoSlot {
    background-color: grey;
    height: 322.5px;
    width: 430px;
}

.outcomes {
    flex-grow: 5;
}

.player {
    -moz-box-sizing: border-box;
    -moz-user-select: none;
    -webkit-transition: opacity .3s ease-in;
    -webkit-user-select: none;
    background: #2a2a2a;
    border-radius: 5px;
    bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    float: left;
    font-family: Arial, sans-serif;
    height: 70px;
    opacity: 1;
    padding: 0;
    position: absolute;
    transition: opacity .3s ease-in;
    user-select: none;
    z-index: 2;
}

.player .button-holder {
    left: 10px;
    position: relative;
}

.player .fullscreen {
    cursor: pointer;
    float: left;
    height: 100%;
    width: 12%;
}

.player .fullscreen a {
    background: #fff;
    border-radius: 3px;
    display: block;
    height: 20px;
    margin: 0 auto;
    position: relative;
    top: 23px;
    width: 25px;
}

.player .pause-button {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 34px;
    padding: 5px 2px;
}

.player .pause-button span {
    background: #fff;
    display: block;
    float: left;
    height: 24px;
    width: 8px;
}

.player .pause-button span:first-of-type {
    margin: 0 4px 0 0;
}

.player .pause-button:active span {
    box-shadow: 0 0 7px #fff;
}

.player .pause-button:hover span {
    box-shadow: 0 0 5px #fff;
}

.player .play .pause-button,
.player .pause .play-button {
    display: none;
}

.player .play,
.player .pause-button {
    -webkit-transition: all .2s ease-out;
}

.player .play-pause {
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 3em;
    font-variant: small-caps;
    padding: 17px 0 0 3%;
    text-shadow: 0 0 0 #fff;
    width: 10%;
}

.player .play:active,
.pause-button:active span {
    text-shadow: 0 0 7px #fff;
}

.player .play:hover {
    text-shadow: 0 0 5px #fff;
}

.player .progress {
    background: #676767;
    border-radius: 5px;
    box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    float: left;
    font-variant: normal;
    height: 20px;
    margin: 24px 0 0;
    padding: 0;
    position: relative;
    width: 60%;
}

.player .progress-bar {
    background: #33b5d5;
    border-radius: 5px;
    box-shadow: inset -30px 0 69px -20px #89f6f5;
    height: 100%;
    position: relative;
    width: 0;
    z-index: 999;
}

.player .progress-button {
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    height: 20px;
    left: -20px;
    position: absolute;
    text-decoration: overline;
    width: 20px;
}

.player .stime,
.ttime {
    color: #444;
}

.player .time {
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    position: absolute;
    right: 0;
    top: 24px;
}

.player .v-change-1 span:after {
    -webkit-transform: rotate(45deg);
    border-width: 0;
    content: '+';
    font-size: 20px;
    left: 25px;
    top: -6px;
}

.player .v-change-10 span:after {
    border-width: 9px 9px 0 0;
    top: 1px;
}

.player .v-change-11 span:after {
    border-width: 10px 10px 0 0;
    top: 0;
}

.player .v-change-2 span:after {
    border-width: 1px 1px 0 0;
    top: 5px;
}

.player .v-change-3 span:after {
    border-width: 2px 2px 0 0;
    top: 4px;
}

.player .v-change-4 span:after {
    border-width: 3px 3px 0 0;
    top: 4px;
}

.player .v-change-5 span:after {
    border-width: 4px 4px 0 0;
    top: 3px;
}

.player .v-change-6 span:after {
    border-width: 5px 5px 0 0;
    top: 3px;
}

.player .v-change-7 span:after {
    border-width: 6px 6px 0 0;
    top: 2px;
}

.player .v-change-8 span:after {
    border-width: 7px 7px 0 0;
    top: 2px;
}

.player .v-change-9 span:after {
    border-width: 8px 8px 0 0;
    top: 1px;
}

.player .volume {
    float: left;
    height: 100%;
    margin: 0 0 0 4%;
    position: relative;
    width: 8%;
}

.player .volume-bar {
    background: #33b5d5;
    border-radius: 5px;
    bottom: 0;
    box-shadow: inset -30px 0 69px -20px #89f6f5;
    height: 100%;
    position: absolute;
    width: 100%;
}

.player .volume-bar-holder {
    background: #333;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    height: 80px;
    margin: 15px auto;
    position: relative;
    width: 20px;
}

.player .volume-button {
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    height: 20px;
    width: 20px;
}

.player .volume-button-holder {
    position: relative;
    top: -10px;
}

.player .volume-holder {
    background: #4f4f4f;
    border-radius: 5px 5px 0 0;
    display: none;
    height: 100px;
    left: 0;
    position: absolute;
    top: -100px;
    width: 100%;
}

.player .volume-icon {
    -moz-box-sizing: border-box;
    -webkit-transition: all .15s linear;
    box-sizing: border-box;
    cursor: pointer;
    height: 100%;
    padding: 1.5%;
}

.player .volume-icon span {
    background-color: #fff;
    color: #fff;
    display: block;
    font-weight: 700;
    height: 13%;
    left: 22%;
    position: relative;
    top: 40%;
    width: 20%;
    z-index: 1;
}

.player .volume-icon span:after {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: 1px solid #fff;
    border-radius: 0 50px 0 0;
    border-width: 0;
    font-variant: small-caps;
    height: 2%;
    left: 190%;
    top: 5px;
    transform: rotate(45deg);
    width: 2%;
}

.player .volume-icon span:before {
    border: 1em solid transparent;
    border-left: none;
    border-right-color: #fff;
    height: 0;
    left: 10%;
    margin-top: -40%;
    top: -2px;
    width: 0;
    z-index: 2;
}

.player .volume-icon span:before,
.player .volume-icon span:after {
    content: '';
    position: absolute;
}

.player .volume-icon-hover {
    background-color: #4f4f4f;
}

.player [class^="buffered"] {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    height: 100%;
    left: 30px;
    position: absolute;
    top: 0;
    z-index: 1;
}

.questionmark {
    float: left;
    padding-right: 10px;
    padding-top: 11%;
    shape-image-threshold: 0.5;
    shape-outside: circle(50%at50.1%51.85%);
}

.quotebox2 {
    float: right;
    height: auto;
    max-width: 245px;
}

.quoteline {
    font-family: Helvetica;
    font-size: 8pt;
    font-weight: 700;
    text-align: center;
}

.quotetext {
    color: #100000;
    font-family: 'Helvetica Neue', serif;
    font-size: 10px;
    font-weight: 300;
    line-height: 40px;
    margin: 0 30px 40px;
    text-align: center;
}

.rightside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 430px;
}

.smallquotebox {
    background: #ebf0f4;
    border: 0;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #888;
    cellpadding: 5px 20px;
    color: #000;
    font-family: Verdana;
    font-size: 10px;
    height: auto;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    max-width: 345px;
    padding: 5px;
    text-align: center;
    width: 450px;
}

.smallquotebox td {
    padding: 5px 20px;
    text-align: center;
}

.topbanner {
    position: relative;
    width: 100%;
}

.topbannertext {
    background: #3C7C5C;
    background-color: #53a2f0;
    color: #FFF;
    font: bold 24px/45px Helvetica, Sans-Serif;
    left: 0;
    letter-spacing: -1px;
    margin-top: 40px;
    padding: 3px 0;
    position: absolute;
    top: 183px;
    width: 100%;
}

.topbannertextlongtext {
    background: #3C7C5C;
    color: #FFF;
    font: bold 24px/45px Helvetica, Sans-Serif;
    left: 0;
    letter-spacing: -1px;
    padding: 3px 0px;
    top: 210px;
    width: 100%;
    max-width: 800px;
}

.vid {
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.video {
    margin: 0 auto;
    position: relative;
}

.video:hover .player {
    opacity: 1;
}

body {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

hr {
    border-style: inset;
    border-width: 1px;
    display: block;
    margin: -20px auto .5em;
}

li {
    color: #000;
    font-family: Verdana, Sans-serif;
    font-size: 10pt;
    font-weight: 400;
    max-width: 100%;
    padding: 1px;
    text-align: left;
}

p {
    color: #000;
    font-family: Verdana, Sans-serif;
    font-size: 10pt;
    max-width: 100%;
    padding: 5px;
    text-align: justify;
}

td {
    border: #FFF 1px solid;
    color: #000;
    font-family: Verdana, Sans-serif;
    font-size: 10pt;
    max-width: 100%;
    padding: 5px;
    text-align: justify;
}

textbox key-takeaways,
.ColorTable {
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    background-color: #eff9ff;
    border: 1px solid #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0;
    max-width: 700px;
    padding: 5px 20px;
    width: 100%;
}