@charset "utf-8";
.imainDiv {
    background-image: url("../Media/Images/background.png");
    width: 500px;
    height: 380px;
}

/*.grayfilter {
    width: 500px;
    height: 380px;
    background-color: black;
}*/

.idiv,
.ibutton {
    left: 0;
    top: 0;
    position: absolute;
}

button:focus {
    outline: 0;
}

.initialstart:active {
    top: 81px;
    border: 2px solid white;
}

.initialstart {
    left: 420px;	
    top: 80px;
    width: 55px;
    height: 20px;
    background: none;
    border: 2px solid black;
    font-weight: bold;
    display: flex;
	font-size: 9px;
}

.istartstop {}

.islider {

	width: 20px;
	height: 11px;
	background-image: URL("../Media/Images/slider.png");
	border-radius: 3px;
	}

.is2 {
		left: 265px;
	top: 208px;
	}

.is1 {
	left: 265px;
	top: 230px;
	}

.ip {
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    text-align: center;
}

#white1,
#white2,
#black {
    position: absolute;
    width: 275px;
    height: 82px;
    left: 135px;
    opacity: .5;
}

#white1 {
    top: 28px;
}

#white2 {
    top: 110px;
}

#black {
    top: 257px;
}

#w1 {
	left: 440px;
	top: 205px;
	font-weight:bold;
}

#w2 {
	left: 440px;
	top: 225px;
	font-weight: bold;
}


