/* CSS File For
**
**  Created by Jason Rodriguez June 30,2016
**
**/
iframe, div, body, html {
    margin: 0;
    padding: 0;
    font-size: 0;
}

iframe {
    display: inline-block;
    vertical-align: middle;
    border: none;
    background-color: #153649;
}

.row {
    text-align: justify;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.port-padding {
    height: 50px;
}

.small {
    width: 25vw;
    height: 14vw;
}

.medium {
    width: 33.33vw;
    height: 18.75vw;
}

.large {
    width: 41.66vw;
    height: 23.4375vw;
}

.icon-bar {
    height: 23.4375vw;
    width: 8.33vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.icon {
    background-color: #2F8036;
    width: 6vw;
    height: 6vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}



/*/////////////////////////////////////////////////////////////////////
BEGINS IFRAME CSS OF PORTFOLIO PAGES
/////////////////////////////////////////////////////////////////////*/


.container {
    display: flex;
    flex-direction: column;
    border: 3px solid red;
    height: 300px;
    width: 300px;
}

.top {
    display: flex;
    border: 3px solid green;
}

.wrap {
    flex: 1;
    flex-direction: column;
    align-items: stretch;
    border: 5px solid blue;
    height: 100%;

}

.frame {
        width: 41.66vw;
    height: 23.4375vw;
}
